body {
}

.burgundy {
    color: #800000;
}
.auto-style2 {
    width: 431px;
    height: 278px;
}
.auto-style3 {
    width: 100%;
}
.auto-style5 {
    width: 201px;
}
.auto-style6 {
    width: 107px;
}